.tag {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background: #deffef;
  border-radius: 3px;
  color: #00cb8e;
  font-family: "SUIT";
  font-style: normal;
  line-height: 14px;
  font-weight: 500;
  font-size: 0.6875rem;
  padding: 4px;
}
.tag-margin {
  margin-right: 0.417vw;
}
