.profileCard {
  box-sizing: border-box;

  position: absolute;
  width: 249px;
  height: 197px;
  left: 1311px;
  top: 55.77px;

  /* grayscale/white */

  background: #ffffff;
  /* outline */

  border: 1px solid #e4e9ed;
  border-radius: 10px;
}
