.mypageProfile {
  box-sizing: border-box;

  width: 14.6875vw;
  height: 100%;
  padding: 40px 1.0417vw;

  background: #ffffff;

  border: 1px solid #e4e9ed;
  border-radius: 10px;

  font-family: "SUIT";
  img {
    width: 8.23vw;
    height: 8.23vw;
    border-radius: 50%;

    margin-bottom: 32px;
  }

  .mypageProfile-nickname {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #191919;
    font-weight: 600;

    margin-bottom: 24px;
  }

  .mypageProfile-profilesetting {
    width: 100%;
    height: 36px;
    background: #b1b5be;
    border: 0;
    border-radius: 10px;

    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    font-weight: 600;

    margin-bottom: 24px;
  }

  .mypageProfile-description {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #616269;
  }
}
