.profileBasciEdit {
  box-sizing: border-box;

  width: 100%;
  padding: 40px 2.5vw 60px 2.5vw;

  background: #ffffff;
  border: 1px solid #eef1f4;
  border-radius: 10px;

  text-align: left;
  font-family: "SUIT";
  font-weight: 600;
  font-size: 17px;
  color: #191919;

  .profileBasciEdit-inputs {
    margin-top: 50px;
    .profileBasciEdit-input-box {
      position: relative;
      font-family: "SUIT";
      font-weight: 600;
      font-size: 15px;

      color: #616269;

      .profileBasciEdit-input-box-nameCnt {
        position: absolute;
        bottom: 0;
        right: 0;

        padding: 0 16px 15px 0;

        font-family: "SUIT";
        font-weight: 500;
        font-size: 14px;

        color: #616269;
      }
    }
  }
}
